<div class="container">
    <div class="row">
        <h1>Productos</h1>
        <!--    Espacio para r4ecibir informacion del componente hijo 
            carrusel de bootstrap-->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLm187e7d_qPC8cXBpZ01sQL172fCW4B8Q6w&s  " class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" *ngFor="let producto of productocarrusel">
                <img src="{{producto.imagen}}" class="d-block w-100" alt="{{producto.alt}}">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <div class="col">
            <app-card
            (productoagregado)="productoanadido($event)"
            [productoReciente]="product">
            </app-card>
        </div>
    </div>
</div>
