
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>buzos</mat-card-title>
      <mat-card-subtitle>buzo verde</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        BUZO
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
